*{
    margin: 0;
    padding: 0;
}

.logo-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;


}
.navButton{
    flex-direction: row;
    align-content: center;

}