* {
    padding: 0;
    margin: 0;
}
.outer-box{
    display: flex;
    flex-direction: column;


}
.inner-box{
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

}
.register{
    padding: 5px;
}